@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 400;
  src: local("Alliance No.1 Regular"), local("alliance-no-1-regular"), url("alliance-no-1-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 500;
  src: local("Alliance No.1 Medium"), local("alliance-no-1-medium"), url("alliance-no-1-medium.woff") format("woff");
  font-display: swap;
}


@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 600;
  src: local("Alliance No.1 SemiBold"), local("alliance-no-1-semibold"), url("alliance-no-1-semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 700;
  src: local("Alliance No.1 Bold"), local("alliance-no-1-bold"), url("alliance-no-1-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: 800;
  src: local("Alliance No.1 ExtraBold"), local("alliance-no-1-extrabold"), url("alliance-no-1-extrabold.woff") format("woff");
  font-display: swap;
}
